<!DOCTYPE html>
<html>
<head>
  <title>Dungeons and Dragons - RPG</title>
  <link rel='stylesheet' type='text/css' href='../static/css/index.css'>
</head>
<body>
  <header>
    <h1>Welcome to Dungeons and Dragons</h1>
  </header>
  <nav>
    <ul>
      <li><a href='cadastro_personagem.html'>Register New Character</a></li>
      <li><a href='list_personagem.html'>Consult Characters</a></li>
      <li><a href='criador_historias.html'>Create Game Stories</a></li>
    </ul>
  </nav>

  <footer>
    <p>&copy; 2023 CETEC @edertec. All rights reserved.</p>
  </footer>
  <iframe width="100" height="100" src="https://www.youtube.com/embed/ipFaubyDUT4?autoplay=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>